.WeeklySongListItem,
.WeeklySongListItem2 {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #DDD;
    font-family: Arial, sans-serif;
  }
  
.order {
    font-size: 20px;
    width: 35px;
    text-align: center;
  }
  
.info {
    flex: 1;
  }
  
.title {
    font-size: 14px;
    margin-bottom: 6px;
    margin-top: 0;
  }
.singer,
.view-count {
    font-size: 12px;
    color: #888;
    margin: 0;
  }